name = "gb-share"
main = "dist/worker.js"
compatibility_date = "2024-01-01"

[build]
command = "npm run build"

[build.upload]
format = "modules"

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true
